[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://localhost:27017/catalogue"
WorkingDirectory=/app
Environment=PATH=/root/.nvm/versions/node/v21.2.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/root/.nvm/versions/node/v21.2.0/bin/node /app/server.js

Restart=always
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target